autogen-agentchat
autogen-core
autogen_ext
asyncio
dotenv
openai
tiktoken
autogen-ext[docker]
docker
streamlit
pydantic
python-dotenv
chromadb
sentence-transformers
aiofiles
pypdf
fastapi
uvicorn
python-multipart